@import '../../scss/import';

#Masthead {
  @include font-size(s);
  display: flex;
  align-items: flex-start;
}

.Logo {
  @include padding(0.5 0);
  font-weight: bold;
  color: $color-teal;
}

#restart {
  @include margin-top(0.25);
  margin-left: auto;

  svg {
    @include margin-right(0.25);
  }
}
