form {
  @include margin(1 0);

  > div {
    @include margin(1 0);
  }

  label {
    display: block;

    .Required-marker {
      padding-left: 3px;
      vertical-align: super;
      color: $color-red;
    }
  }

  input[type="text"],
  input[type="number"],
  textarea,
  .FileUpload {
    @include margin(0.25 0);
    @include padding(0.25);
    border: 2px solid $color-gray;
    outline: 0;
    width: 100%;

    &:focus,
    &:active {
      border-color: darken($color-gray, 8%);
    }
  }

  textarea {
    min-height: 200px;
  }

  input[type="submit"] {
    display: block;
  }

  .FileUpload > div {
    @include padding(1);
  }
}

div {
  .Select {
    &.is-focused:not(.is-open) > .Select-control,
    &.is-focused.is-open > .Select-control {
      box-shadow: none;
      border-color: darken($color-gray, 8%);
    }
  }

  .Select-control {
    @include margin(0.25 0);
    border-radius: 0;
    border: 2px solid $color-gray;
    outline: 0;
    width: 100%;

    &:focus,
    &:active {
      border-color: darken($color-gray, 8%);
    }
  }

  .Select--multi .Select-value {
    background-color: white;
    border-color: $color-peach;
    border-radius: 0;
    color: $color-peach;

    &-icon {
      border-right: 0;
      border-radius: 0;

      &:hover,
      &:focus {
        color: $color-peach;
        background-color: transparent;
      }
    }
  }
}
