input[type="text"] {
  @include padding(0.25);
  border: 2px solid $color-gray;
  outline: 0;
  width: 100%;

  &:focus,
  &:active {
    border-color: darken($color-gray, 8%);
  }

  &.is-completed {
    border-color: transparent;
    border-bottom: 1px dotted $color-gray;
    background-color: transparent;
  }
}

input[type="submit"] {
  display: block;
}

.InputGroup {
  display: flex;

  input[type="text"] {
    flex: 1;
    margin: 0;
    border-right-width: 0;
  }

  button {
    @include padding(0.25 0.5);
  }
}
