table {
  @include margin-bottom(1);
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #cbcbcb;
  table-layout: fixed;

  td,
  th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.5em 1em;

    &:first-child {
      border-left-width: 0;
      width: 50px;
      text-align: center;
    }
  }

  thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
  }

  tbody {
    tr:nth-child(odd) td {
      background-color: #f2f2f2;
    }
  }
}
