// Colors
$color-white: #F7F7F7;
$color-black: #1D1311;
$color-gray: #B6C2CC;
$color-teal: #73C7AF;
$color-peach: #FF7867;
$color-red: #D12E31;

// Typey Config
$line-height-method: ratio;
$base-unit: rem;
$base-line-height-ratio: 1.5;
$base-font-size: 16px;
$font-size: (
  xl: 40px,
  l:  32px,
  m:  24px,
  s:  16px,
  xs: 12px
);
