// THIS FILE SHOULD NOT BE USED IN ANY COMPONENTS.
// IT IS MEANT TO BE STANDALONE.
// Compile with `npm run scss:global`.
// The resulting CSS file is already included in
// a <link /> in app/index.html

@import "variables";
@import "../../node_modules/scut/dist/scut";
@import "../../node_modules/typey/stylesheets/typey";
@import "../../node_modules/normalize.css/normalize";
@import "forms";

html {
  @include define-type-sizing;
  box-sizing: border-box;
  font-family: 'Heebo', $sans-serif-stack;
  font-weight: 400;
  color: $color-black;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 { @include font-size(xl) }
h2, h3 { @include font-size(l) }

h1, h2, h3 {
  font-weight: 700;

  + p {
    margin-top: 0;
  }
}

body {
  @include padding(0 0.5);

  @media screen and (min-width: 479px) {
    @include padding(0 1);
  }
}

#Main {
  @include margin-top(2);

  h1:first-of-type,
  h2:first-of-type {
    margin: 0;

    @media screen and (max-width: 479px) {
      @include font-size(l);
    }
  }
}

a {
  text-decoration: none;
  outline: none;
  color: $color-teal;

  &:hover,
  &:focus {
    color: $color-peach;
    text-decoration: underline;
  }
}

strong {
  font-weight: 700;
}

img {
  max-width: 100%;
}

button,
a[role="button"],
[type="submit"] {
  @include font-size(s);
  @include padding(0.25);
  display: block;
  cursor: pointer;
  border: 0;
  text-align: center;
  text-decoration: none;
  background-color: $color-teal;
  color: $color-white;
  transition: background-color ease-out 0.15s,
              color ease-out 0.15s;

  &:hover,
  &:focus {
    background-color: $color-peach;
    outline: 0;
  }

  &[disabled] {
    opacity: 0.25;
    cursor: default;

    &:hover,
    &:focus {
      background-color: $color-teal;
    }
  }

  &.Button--bare {
    background-color: transparent;
    color: $color-teal;
  }

  &.Button--block {
    width: 100%;
  }

  &.Button--inline {
    display: inline-block;
  }

  svg {
    @include scut-size(16px);
    display: inline-block;
    vertical-align: middle;
  }
}
