@import '../scss/import';

.Players-list {
  @include scut-list-unstyled;
  @include margin-bottom(1);
  display: flex;

  .Player {
    @include margin-right(1);
  }
}

#Game {
  position: relative;
  display: table;
  width: 100%;
  border: 1px solid #cbcbcb;
  table-layout: fixed;
}

.Game-header-wrap {
  @include scut-fixed(0 0 n 0);
  @include scut-size(100% 96px);
  overflow: hidden;
  background-color: white;
}

.Game-header {
  @include scut-absolute(n 0 0 0);
  @include padding(0 0.5);
  display: flex;

  @media screen and (min-width: 479px) {
    @include padding(0 1);
  }

  .Game-cell {
    border-width: 1px 1px 0 0;
    background-color: #e0e0e0;
    color: #000;

    &:first-child {
      border-left-width: 1px;
      flex: 0 0 52px;
    }
  }
}

.Game-round {
  display: flex;
}

.Game-cell {
  border: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  padding: 0.5em 1em;
  margin: 0;
  width: 100%;

  &:first-child {
    flex: 0 0 50px;
    border-left-width: 0;
    text-align: center;
  }
}

.Game-round:nth-child(odd) .Game-cell {
  background-color: #f2f2f2;
}

.Total-score {
  font-weight: bold;
}

#add-row {
  @include scut-absolute(n n -4em 0);
}
