@import "~normalize.css/normalize.css";

:root {
    --green: #008060;
    --green-active: #006e52;
    --green-dark: #084f3d;
    --red: #800020;
    --gray: #444;
    --gray-medium: #777;
    --gray-light: #f1f1f1;
    --font-size-small: 12px;
    --font-size-large: 18px;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --spacing-xsmall: 2px;
    --spacing-small: 5px;
    --spacing-medium: 10px;
    --spacing-large: 15px;
    --size-input: 35px;
    --border-width-small: 1px;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: var(--spacing-medium);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input {
    height: var(--size-input);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
    padding: var(--spacing-small);
    text-align: right;
}

label + input {
    margin-left: var(--spacing-medium);
}

table {
    margin-top: var(--spacing-medium);
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

thead {
    background-color: var(--gray-light);
}

tbody tr:nth-child(even) {
    background-color: var(--gray-light);
}

th div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

th span {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
    padding-right: var(--spacing-medium);
    opacity: 0.75;
    /*min-width: 46px;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
    position: relative;
    padding: var(--spacing-small) var(--spacing-small) var(--spacing-small) 0;
}

td {
    padding: var(--spacing-small) 0 var(--spacing-small) var(--spacing-large);
}

button {
    border: var(--border-width-small) solid transparent;
    outline: 0;
    height: var(--size-input);
    cursor: pointer;
    padding: var(--spacing-medium);
    color: #ffffff;
    background-color: var(--green);
    border-radius: var(--spacing-small);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-small);
}

button:hover,
button:active {
    background-color: var(--green-active);
}

button:focus {
    background-color: var(--green-dark);
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.App {
    max-width: 1004px;
    margin: 0 auto;
}

.App-header {
    text-align: right;
}

button.ClearScores {
    display: block;
    width: 100%;
    background-color: transparent;
    color: var(--red);
}

button.NewGame {
    background-color: transparent;
    color: var(--green);
}

.PlayerForm,
.PlayerList {
    margin-bottom: var(--spacing-medium);
}

.PlayerForm {
    display: flex;
    align-items: center;
}

.PlayerForm input {
    flex: 1;
    border: var(--border-width-small) solid var(--gray);
    border-radius: var(--spacing-small);
    padding-left: var(--spacing-medium);
    margin-right: var(--spacing-medium);
}

.PlayerList {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--spacing-medium));
}

.PlayerList-player {
    display: flex;
    align-items: center;
    padding: var(--spacing-xsmall) var(--spacing-small);
    border: var(--border-width-small) solid var(--gray-medium);
    border-radius: var(--spacing-small);
    font-size: var(--font-size-small);
    margin: var(--spacing-medium) var(--spacing-medium) 0 0;
}

.PlayerList-player button {
    height: auto;
    padding: 0;
    border: 0;
    margin-right: var(--spacing-small);
    background-color: transparent;
    color: var(--gray);
    font-size: var(--font-size-large);
}

.StartGame,
.AddRound {
    display: block;
    width: 100%;
    margin-top: var(--spacing-medium);
}